* {
  font-family: 'Roboto', sans-serif;
}

.card-title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #c8a04f;
}

.card-title span {
  align-self: flex-end;
}

main {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

/* Optional: Additional styling for better layout and alignment */
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-info {
  margin: 0.5rem 0;
}
